<!doctype html>
<html ng-app="app" ng-controller="controller">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        购物车：购物车查看、下单功能
    </title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <style>
        #content1{padding:16px;}
        table
        {
            border-collapse:collapse;
        }

        table,th, td
        {
            border: 1px solid black;
            vertical-align:top;
            padding:12px;
        }
        .buyAmount{width:30px;}
        .logo{width:100px;height:100px;}
    </style>
</head>

<body>


<div>

    <form>

        <div ng-show="Step1IsOk!=true">
            <table>
                <thead>
                <tr>
                    <th>选中</th>
                    <th>ID</th>
                    <th>名称</th>
                    <th>编号</th>
                    <th>商品图片</th>
                    <th>购买数量</th>
                    <th>价格</th>
                    <th>应付</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in productList">
                    <td><input type="checkbox" ng-model="p.selected" /></td>
                    <td>{{p.productId}}</td>
                    <td>{{p.productName}}</td>
                    <td>{{p.productCode}}</td>
                    <td><img src="{{p.logo}}"  class="logo" ></td>
                    <td><input type="text" ng-model="p.buyAmount" /></td>
                    <td><b>{{p.retailPrice}}</b> <span>{{p.oldPrice}}</span></td>
                    <td>{{p.payment}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="Step1IsOk==true">
            <ul>
                <li ng-repeat="p in orderProductList">
                    <b>{{p.productName}}</b>,购买数量：<span>{{p.buyAmount}}</span>，应付价格：<b>{{p.payment}}</b>
                </li>
            </ul>
        </div>

        <button ng-click="ConfirmStep1()" >确认商品</button>

    </form>

</div>

<script src="js/angular.min.js"></script>
<script>

    Array.prototype.remove=function(dx)
    {
        if(isNaN(dx)||dx>this.length){return false;}
        for(var i=0,n=0;i<this.length;i++)
        {
            if(this[i]!=this[dx])
            {
                this[n++]=this[i]
            }
        }
        this.length-=1
    }

    var app = angular.module("app",[]);
    app.controller("controller",function($scope){

        $scope.productList = [
            {
                productId:1,
                productName:'耳机',
                productCode:'P0001',
                logo:'images/earphone.jpg',
                buyAmount:1,
                retailPrice:1500,
                oldPrice:1700,
                payment:1500,
                selected:true
            },
            {
                productId:2,
                productName:'单反相机',
                productCode:'P0002',
                logo:'images/camera.jpg',
                buyAmount:1,
                retailPrice:5200,
                oldPrice:6000,
                payment:5200,
                selected:true
            },
            {
                productId:3,
                productName:'手机',
                productCode:'P0003',
                logo:'images/phone.jpg',
                buyAmount:1,
                retailPrice:490,
                oldPrice:600,
                payment:490,
                selected:true
            }
        ];

        $scope.Step1IsOk=false;
        $scope.orderProductList = [];

        $scope.ConfirmStep1 = function(){
            for(var i in $scope.productList)
            {
                var product = $scope.productList[i];
                if(product.selected){
                    $scope.orderProductList.push(product);
                }
            }
            $scope.Step1IsOk = true;
        };

    });

</script>

</body>
</html>